<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>サプーアプリ</title>
  </head>
  <body>
    <h1>サプー書店</h1>
    <h2>今月の新刊一覧</h2>
    {% if books == []%}
    <!-- []は空の場合だったらという意味 -->
    <p>今月の新刊情報はまだありません</p>
    {% else %}
    <table border="1">
      <tr>
        <th>入荷日</th>
        <th>タイトル</th>
        <th>金額</th>
      </tr>
      {% for book in books %}
      <tr>
        <td>{{ book.arrival_day }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.price }}円</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <a href="{{ url_for('form') }}">編集</a>
  </body>
</html>
